@font-face {
    font-family: 'Danjo-bold-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/Danjo-bold-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0; 
    font-family: 'Danjo-bold-Regular';
}

body {
     margin: 0;
     padding: 0;
     background-color: #000;
     color: #fff;
     overflow: hidden;
}